:root {}

body {
    margin: 0 auto;
    width: 1280px;
}


.header {
    display: block;
    padding-top: 28px;
    height: 261px;
    background-color: yellow;

    &_simple {
        display: flex;
        justify-content: space-between;

        &_hamburger {
            all: unset;
            height: 40px;
            width: 40px;
            justify-content: center;

            &_img {
                height: 26px;
                width: 26px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./sp-main.png);
                background-size: 422px 405px;
                background-position: -335px -284px;
                cursor: pointer;
            }
        }

        &_function {
            display: flex;
            width: 85px;
            justify-content: space-between;

            &_pay {
                height: 28px;
                width: 30px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./sp-main.png);
                background-size: 422px 405px;
                background-position: -30px -315px;
            }

            &_notice {
                height: 28px;
                width: 30px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./sp-main.png);
                background-size: 422px 405px;
                background-position: -361px -26px;
                cursor: pointer;
            }
        }
    }

    &_search {
        display: flex;
        justify-content: center;
        padding-top: 2px;
        height: 80px;

        &_form {
            width: 702px;
            height: 50px;
            border: 1px solid green;
            border-radius: 33px;
            padding-top: 6px;
            padding-left: 15px;
            display: flex;
            &_logo {
                height: 44px;
                width: 50px;
                &_a {                    
                    height: 35px;
                    width: 35px;
                    display: inline-block;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-image: url(./sp-main.png);
                    background-size: 442px 425px;
                    background-position: -330px -350px;
                    align-items: center;
                    cursor: pointer;
                }
            }

            &_label {}

            &_input {
                height: 44px;
                width: 480px;
                border: none;
                font-size: 28px;

                &:focus {
                    outline: none;
                }
            }

            &_button {}
        }
    }

    &_menu {
        display: flex;
        justify-content: center;
    }
}

// .container{
//     display: flex;
//     justify-content: space-between;
//     margin-top: 100px;
//     &_left{
//         width: 63%;
//         height: 400px;
//         background-color: red;
//     }
//     &_right{
//         width: 35%;
//         height: 400px;

//         &_login{
//            height: 43%;
//            background-color: aqua;
//         }
//         &_ad{
//            height: 57%;
//            background-color: blue;
//         }
//     }
// }