@charset "UTF-8";
.wrap {
  min-width: 1340px;
  display: block;
}
.wrap .header {
  margin: 0 auto;
  width: 1280px;
  padding-top: 16px;
  height: 238px;
}
.wrap .header_simple {
  display: flex;
  justify-content: space-between;
}
.wrap .header_simple_hamburger {
  all: unset;
  height: 40px;
  width: 40px;
  justify-content: center;
}
.wrap .header_simple_hamburger_img {
  height: 26px;
  width: 26px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -335px -284px;
  cursor: pointer;
}
.wrap .header_simple_function {
  display: flex;
  width: 85px;
  justify-content: space-between;
}
.wrap .header_simple_function_pay {
  height: 28px;
  width: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -30px -315px;
}
.wrap .header_simple_function_notice {
  height: 28px;
  width: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -361px -26px;
  cursor: pointer;
}
.wrap .header_search {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  height: 74px;
}
.wrap .header_search_form {
  width: 698px;
  height: 54px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  padding-top: 6px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.wrap .header_search_form_logo {
  height: 24px;
  width: 50px;
  margin-right: 7px;
  margin-top: -5px;
  border-right: 1px #E8ECEE solid;
}
.wrap .header_search_form_logo_wing {
  height: 52px;
  width: 50px;
  display: flex;
  background-repeat: no-repeat;
  background-image: url(./img/upload_1684217675277OZzsu.gif);
  background-size: 52px 52px;
  margin-top: -12px;
  cursor: pointer;
}
.wrap .header_search_form_logo_naver {
  height: 35px;
  width: 35px;
  display: flex;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 442px 425px;
  background-position: -331px -350px;
  margin-top: -11px;
  cursor: pointer;
}
.wrap .header_search_form_text {
  height: 44px;
  width: 530px;
  margin-top: -7px;
}
.wrap .header_search_form_text_input {
  height: 44px;
  width: 520px;
  margin-top: 2px;
  border: none;
  z-index: 10;
  position: relative;
  padding: 17px 10px;
  font-size: 22px;
  font-weight: bold;
}
.wrap .header_search_form_text_input::-moz-placeholder {
  font-weight: 200;
  color: rgb(197, 193, 193);
}
.wrap .header_search_form_text_input::placeholder {
  font-weight: 200;
  color: rgb(197, 193, 193);
}
.wrap .header_search_form_text_input:focus {
  outline: none;
}
.wrap .header_search_form_keyboard-button {
  border: none;
  background-color: white;
  margin-right: 10px;
  height: 22px;
  width: 26px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -268px -233px;
  cursor: pointer;
}
.wrap .header_search_form_autocomplete-button {
  border: none;
  background-color: white;
  margin-top: -10px;
  margin-right: 12px;
  height: 12px;
  width: 13px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -409px -333px;
  cursor: pointer;
}
.wrap .header_search_form_search-button {
  border: none;
  background-color: white;
  margin-top: -2px;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -365px -132px;
  cursor: pointer;
}
.wrap .header_menu {
  display: flex;
  justify-content: center;
  height: 76px;
  font-size: 15px;
}
.wrap .header_menu_lists {
  display: flex;
  list-style-type: none;
  height: 76px;
  width: 680px;
  margin: 0 0 0 -40px;
  justify-content: space-between;
}
.wrap .header_menu_lists_list-1 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-1:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-1_a-1 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-1_a-1_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -248px -90px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-1_a-1_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-2 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-2:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-2_a-2 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-2_a-2_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -249px 1px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-2_a-2_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-3 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-3:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-3_a-3 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-3_a-3_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -200px -95px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-3_a-3_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-4 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-4:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-4_a-4 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-4_a-4_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -88px -205px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-4_a-4_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-5 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-5:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-5_a-5 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-5_a-5_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: 2px -205px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-5_a-5_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-6 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-6:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-6_a-6 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-6_a-6_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -179px -205px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-6_a-6_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-7 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-7:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-7_a-7 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-7_a-7_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -43px -205px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-7_a-7_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-8 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-8:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-8_a-8 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-8_a-8_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -205px 2px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-8_a-8_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-9 {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -2px -129px;
  border-radius: 38%;
  cursor: pointer;
}
.wrap .header_menu_lists_list-9:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .header_menu_lists_list-9_a-9 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-9_a-9_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -222px -206px;
  cursor: pointer;
}
.wrap .header_menu_lists_list-9_a-9_text {
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
}
.wrap .header_menu_lists_list-10_a-10 {
  text-decoration: none;
}
.wrap .header_menu_lists_list-10_a-10_img {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -248px -133px;
  cursor: pointer;
  border-radius: 38%;
}
.wrap .header_menu_lists_list-10_a-10_img:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .container {
  display: flex;
  margin: 0 auto;
  width: 1280px;
  height: 1200px;
}
.wrap .container_left {
  width: 830px;
  display: block;
}
.wrap .container_left_ad {
  width: 830px;
  margin-bottom: 15px;
}
.wrap .container_left_news {
  width: 830px;
  height: 425.8px;
  border: 1px solid #DADCDF;
  border-radius: 4px;
}
.wrap .container_left_news .news_category {
  display: flex;
  font-size: 16px;
  font-weight: 800;
  padding: 20px;
}
.wrap .container_left_news .news_category_stand::after {
  content: "•";
  color: #DADCDF;
  margin: 0 5px;
}
.wrap .container_left_news .news_category_edit {
  color: gray;
}
.wrap .container_left_news .news_category_edit::after {
  content: "／";
  color: #DADCDF;
  margin: 0 5px;
}
.wrap .container_left_news .news_category_entertain {
  color: gray;
}
.wrap .container_left_news .news_category_entertain::after {
  content: "／";
  color: #DADCDF;
  margin: 0 5px;
}
.wrap .container_left_news .news_category_sports {
  color: gray;
}
.wrap .container_left_news .news_category_sports::after {
  content: "／";
  color: #DADCDF;
  margin: 0 5px;
}
.wrap .container_left_news .news_category_economy {
  color: gray;
}
.wrap .container_left_news .news_fast-view {
  display: flex;
  padding: 10px;
  margin: 0 20px;
  font-size: 14px;
  align-items: center;
  height: 30px;
  background-color: F5F7F8;
}
.wrap .container_left_news .news_fast-view_select {
  width: 100px;
  padding: 0 10px;
  cursor: pointer;
}
.wrap .container_left_news .news_fast-view_select::after {
  content: "|";
  padding-left: 10px;
  color: #DADCDF;
}
.wrap .container_left_news .news_fast-view_rolling {
  margin-right: 200px;
}
.wrap .container_left_news .news_fast-view_stand {
  padding-right: 10px;
}
.wrap .container_left_news .news_fast-view_stand::after {
  content: "|";
  padding-left: 10px;
  color: #DADCDF;
}
.wrap .container_left_news .news_page {
  margin: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.wrap .container_left_news .news_page_box {
  width: 129px;
  height: 56px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .container_left_news .news_page_box_img {
  width: 60px;
  height: 20px;
}
.wrap .container_left_news .news_step {
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.wrap .container_left_news .news_step_prev-btn {
  height: 19px;
  width: 19px;
  margin: 5px;
  transform: scaleX(-1);
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 373px 316px;
  background-position: -333px -284px;
  border: 1px solid;
  border-radius: 33px;
  cursor: pointer;
}
.wrap .container_left_news .news_step_text-1 {
  color: 3A9AF2;
}
.wrap .container_left_news .news_step_next-btn {
  height: 19px;
  width: 19px;
  margin: 5px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./img/sp-main.png);
  background-size: 373px 316px;
  background-position: -333px -284px;
  border: 1px solid;
  border-radius: 33px;
  cursor: pointer;
}
.wrap .container_right {
  display: block;
  width: 420px;
  height: 400px;
  margin-left: 30px;
}
.wrap .container_right_login {
  height: 123.6px;
  text-align: center;
  line-height: 20px;
  padding: 20px;
  border: 1px solid #DADCDF;
  border-radius: 8px;
}
.wrap .container_right_login_login-explanation {
  justify-content: center;
  font-size: 14px;
}
.wrap .container_right_login_login-btn {
  margin: 15px 0;
  width: 380px;
  height: 55px;
  border-radius: 4px;
  border: none;
  background-color: #03c75a;
  cursor: pointer;
}
.wrap .container_right_login_login-btn:hover {
  background-color: #03af50;
}
.wrap .container_right_login_login-btn .login-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.wrap .container_right_login_login-btn .login-btn_naver-logo {
  font-size: 19px;
  color: white;
  font-weight: 1000;
}
.wrap .container_right_login_login-btn .login-btn_login-text {
  font-size: 14px;
  margin-left: 8px;
  margin-top: 4px;
  color: white;
}
.wrap .container_right_login_login-about {
  display: flex;
  justify-content: center;
  font-size: 13px;
}
.wrap .container_right_login_login-about_id-find {
  text-decoration: none;
}
.wrap .container_right_login_login-about_id-find::after {
  content: "ㅣ";
  margin: 5px;
}
.wrap .container_right_login_login-about_pw-find {
  text-decoration: none;
}
.wrap .container_right_login_login-about_pw-find::after {
  content: "ㅣ";
  margin: 5px;
}
.wrap .container_right_login_login-about_regi {
  text-decoration: none;
}
.wrap .container_right_ad {
  margin-top: 15px;
  width: 420px;
  height: 240px;
  border-radius: 4px;
}
.wrap .setting {
  position: fixed;
  display: flex;
  justify-content: space-between;
  right: 24px;
  bottom: 24px;
}
.wrap .setting_scroll-up {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #DADCDF;
  border-radius: 50%;
  cursor: pointer;
}
.wrap .setting_scroll-up:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .setting_scroll-up::after {
  content: "";
  display: flex;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -293px -270px;
  background-repeat: no-repeat;
  margin: 10px auto;
  width: 16px;
  height: 16px;
}
.wrap .setting_mode {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #fff;
  border: 2px solid #DADCDF;
  border-radius: 50%;
  cursor: pointer;
}
.wrap .setting_mode:hover {
  box-shadow: 1px 1px 5px gray;
}
.wrap .setting_mode::after {
  content: "";
  display: flex;
  background-image: url(./img/sp-main.png);
  background-size: 422px 405px;
  background-position: -208px -270px;
  background-repeat: no-repeat;
  margin: 10px auto;
  width: 16px;
  height: 16px;
}
.wrap .setting_mode_hover {
  box-shadow: 1px 1px 5px gray;
}/*# sourceMappingURL=style.css.map */