:root {
    //공통
}

body {
}

.wrap{
    min-width: 1340px;
    display: block;
.header {
    margin: 0 auto;
    width: 1280px;
    padding-top: 16px;
    height: 238px;
    // background-color: yellow;

    &_simple {
        display: flex;
        justify-content: space-between;

        &_hamburger {
            all: unset;
            height: 40px;
            width: 40px;
            justify-content: center;

            &_img {
                height: 26px;
                width: 26px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -335px -284px;
                cursor: pointer;
            }
        }

        &_function {
            display: flex;
            width: 85px;
            justify-content: space-between;

            &_pay {
                height: 28px;
                width: 30px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -30px -315px;
            }

            &_notice {
                height: 28px;
                width: 30px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -361px -26px;
                cursor: pointer;
            }
        }
    }

    &_search {
        display: flex;
        justify-content: center;
        padding-top: 2px;
        height: 74px;

        &_form {
            width: 698px;
            height: 54px;
            border: 1px solid #03c75a;
            border-radius: 33px;
            padding-top: 6px;
            padding-left: 15px;
            display: flex;
            align-items: center;

            &_logo {
                height: 24px;
                width: 50px;
                margin-right: 5px;
                margin-top: -5px;
                border-right: 1px #E8ECEE solid;

                &_a {
                    height: 35px;
                    width: 35px;
                    display: flex;
                    background-repeat: no-repeat;
                    background-image: url(./img/sp-main.png);
                    background-size: 442px 425px;
                    background-position: -331px -350px;
                    margin-top: -11px;
                    cursor: pointer;
                }
            }

            &_label {}

            &_text {
                height: 44px;
                width: 530px;
                margin-top: -7px;

                &_input {
                    height: 44px;
                    width: 520px;
                    margin-top: 2px;
                    border: none;
                    z-index: 10;
                    position: relative;
                    padding: 17px 10px;
                    font-size: 22px;
                    font-weight: bold;

                    &::placeholder {
                        font-weight: 200;
                        color: rgb(197, 193, 193);
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            &_keyboard-button {
                border: none;
                background-color: white;
                margin-right: 10px;
                height: 22px;
                width: 26px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -268px -233px;
                cursor: pointer;
            }

            &_autocomplete-button {
                border: none;
                background-color: white;
                margin-top: -10px;
                margin-right: 12px;
                height: 12px;
                width: 13px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -409px -333px;
                cursor: pointer;
            }

            &_search-button {
                border: none;
                background-color: white;
                margin-top: -2px;
                height: 25px;
                width: 25px;
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -365px -132px;
                cursor: pointer;
            }
        }
    }

    &_menu {
        display: flex;
        justify-content: center;
        height: 76px;
        font-size: 15px;
        &_lists {
            display: flex;
            list-style-type: none;
            height: 76px;
            width: 680px;
            margin: 0 0 0 -40px;
            justify-content: space-between;

            &_list-1 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                border-radius: 38%;
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-1 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -248px -90px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-2 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-2 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -249px 1px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-3 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-3 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -200px -95px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-4 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-4 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -88px -205px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-5 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-5 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: 2px -205px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-6 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-6 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -179px -205px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-7 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-7 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -43px -205px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-8 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-8 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -205px 2px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-9 {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-image: url(./img/sp-main.png);
                background-size: 422px 405px;
                background-position: -2px -129px;
                
                border-radius: 38%;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 5px gray;
                }

                &_a-9 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -222px -206px;
                        cursor: pointer;
                    }

                    &_text {
                        margin-top: 7px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: 7px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }

            &_list-10 {
                &_a-10 {
                    text-decoration: none;

                    &_img {
                        height: 48px;
                        width: 48px;
                        background-repeat: no-repeat;
                        background-image: url(./img/sp-main.png);
                        background-size: 422px 405px;
                        background-position: -248px -133px;
                        cursor: pointer;
                        border-radius: 38%;

                        &:hover {
                            box-shadow: 1px 1px 5px gray;
                        }
                    }
                }
            }
        }
    }
}

.container{
    display: flex;
    margin: 0 auto;
    width: 1280px;
    height: 1200px;
    &_left{
        width: 830px; 
        // height: 425px; //추가시 크기수정
        display: block;
        &_add{
            width: 830px;
            margin-bottom: 15px;
        }
        &_news{
           width: 830px;
           height: 425.8px;
           border: 1px solid #DADCDF;
           border-radius: 4px;
           .news{
            &_category{
                display: flex;
                font-size: 16px;
                font-weight: 800;
                padding: 20px;
                &_stand{
                  &::after{
                    content: '•';
                    color: #DADCDF;
                    margin: 0 5px;
                  }
                }
                &_edit{
                    color: gray;
                    &::after{
                        content: '／';
                        color: #DADCDF;
                        margin: 0 5px;
                      }
                }
                &_entertain{
                    color: gray;
                    &::after{
                        content: '／';
                        color: #DADCDF;
                        margin: 0 5px;
                      }
                }
                &_sports{
                    color: gray;
                    &::after{
                        content: '／';
                        color: #DADCDF;
                        margin: 0 5px;
                      }
                }
                &_economy{
                    color: gray;
                }
            }
            &_fast-view{
                display: flex;
                padding: 10px;
                margin: 0 20px;
                font-size: 14px;
                align-items: center;
                height: 30px;
                background-color: F5F7F8;
                &_select{
                    width: 100px;
                    padding: 0 10px;
                    cursor: pointer;
                    &::after{
                        content: '|';
                        padding-left:10px;
                        color: #DADCDF;
                    }
                }
                &_rolling{

                }
                &_stand{

                }
                &_home{

                }
            }
            &_media-type{
                margin: 20px;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                &_box{
                    width: 129px;
                    height: 56px;
                    border: 1px solid #ebebeb;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &_img{
                        width: 60px;
                        height: 20px;
                    }
                }
            }
            &_step{
                display: flex;
                height: 20px;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                &_text-1{
                   color: 3A9AF2;
                }
                &_text-2{

                }
            }
           }
        }
    }
    &_right{
        display: block;
        width: 420px;
        height: 400px;
        margin-left: 30px;
        
        &_login{
           height: 123.6px;
        //    background-color: aqua;
           text-align: center;
           line-height: 20px;
           padding: 20px;
           border: 1px solid #DADCDF;
           border-radius: 8px;

           &_login-explanation{
            justify-content: center;
            font-size: 14px;
           }
           &_login-btn{
            margin: 15px 0;
            width: 380px;
            height: 55px;
            border-radius: 4px;
            border: none;
            background-color: #03c75a;
            cursor: pointer;
            &:hover{
               background-color: #03af50;
            }
            .login-btn{
                display: flex;
                justify-content: center;
                text-decoration: none;
                &_naver-logo{
                    font-size: 19px;
                    color: white;
                    font-weight: 1000;       
                }
                &_login-text{
                    font-size: 14px;
                   margin-left: 8px;
                   margin-top: 4px;
                   color: white;
                }
            }
           }
           &_login-about{
            display: flex;
            justify-content: center;
            font-size: 13px;
            &_id-find{
            text-decoration: none;
                &::after{
                   content: 'ㅣ';
                   margin: 5px;
                }
              }
              &_pw-find{
            text-decoration: none;
                 &::after{
                    content: 'ㅣ';
                    margin: 5px;
                }  
              }
              &_regi{
            text-decoration: none;
              }
           }
        }
        &_add{
           margin-top: 15px;
           width: 420px;
           height: 240px;
           border-radius: 4px;
        }
    }
}

.setting{
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 24px;
    bottom: 24px;
    &_scroll-up{
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 2px solid #DADCDF;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            box-shadow: 1px 1px 5px gray;
        }
        &::after{
            content: "";
            display: flex; //after 선택자로 생성된 가상 요소가 기본적으로 display: inline으로 설정되어 있기 때문에 display를 설정해주어야함
            background-image: url(./img/sp-main.png);
            background-size: 422px 405px;
            background-position: -293px -270px;
            background-repeat: no-repeat;
            margin: 10px auto;
            width: 16px;
            height: 16px;
        }
    }
    &_mode{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        background-color: #fff;
        // position: relative;
        border: 2px solid #DADCDF;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            box-shadow: 1px 1px 5px gray;
        }
        &::after{
            content: "";
            display: flex; //after 선택자로 생성된 가상 요소가 기본적으로 display: inline으로 설정되어 있기 때문에 block으로 설정해주어야함
            background-image: url(./img/sp-main.png); 
            background-size: 422px 405px;
            background-position: -208px -270px;
            background-repeat: no-repeat;
            margin: 10px auto;
            width: 16px;
            height: 16px;
        }
            &_hover{
                box-shadow: 1px 1px 5px gray;
            }
        
    }
}
}
